main
  
  div.ampm
    div.ampm-background
    span.ampm-icon AM
    
  div.analog
    div.analog-background
    span.analog-icon access_time
    
  div.develop
    div.develop-background
    span.develop-icon build

  div.alarm-dialogue
    div.alarm-dialogue-selection-wrapper
      div.alarm-dialogue-selection-set SET
      div.alarm-dialogue-selection-off OFF
    
  input.alarm-dialogue-timer-1(type="number" value="06" maxlength="2" pattern="\d{2}" title="時間を半角数字2桁で入力してくれ")
  input.alarm-dialogue-timer-2(type="number" value="00" maxlength="2" pattern="\d{2}" title="時間を半角数字2桁で入力してくれ")
  
  div.container
    div.clock-background
    div.clock-wrapper
    
    span.alarm-time
    
    span.time
    
    div.light
    
    div.clock-analog-wrapper
      div.needle-short
      div.needle-long
    
  div.setting
    div.setting-background
    span.setting-icon settings
    
  div.alarm
    div.alarm-background
    span.alarm-icon alarm
    
